<%- include('../layouts/header', {title: 'Đăng ký'}); -%> <%-
include('../layouts/navbar/navbar') -%>
<main>
	<div class="auth__wrapper">
		<div class="container-md">
			<h3 class="auth__title register__title">Đăng ký</h3>
			<div class="auth__form__wrapper register__form__wrapper">
				<form action="#" method="POST" class="register__form">
					<div class="form-group">
						<label class="form-label" for="email">Email</label>
						<input type="email name="email" id="email" placeholder="Vui lòng
						nhập địa chỉ Email" class="form-input" />
					</div>
					<div class="form-group">
						<label class="form-label" for="password">Mật khẩu</label>
						<input
							type="text"
							name="password"
							id="password"
							class="form-input"
						/>
					</div>
					<div class="form-group">
						<label class="form-label" for="confirmPassword"
							>Nhập lại mật khẩu</label
						>
						<input
							type="text"
							name="confirmPassword"
							id="confirmPassword"
							class="form-input"
						/>
					</div>
					<div class="form-group">
						<label class="form-label" for="fullname">Họ tên</label>
						<input
							type="text"
							name="fullname"
							id="fullname"
							class="form-input"
						/>
					</div>
					<div class="form-group">
						<label class="form-label" for="phoneNumber">Số điện thoại</label>
						<input
							type="text"
							name="phoneNumber"
							id="phoneNumber"
							class="form-input"
						/>
					</div>
					<button type="submit" class="register__form__submit">Đăng ký</button>
				</form>
			</div>
		</div>
	</div>
</main>
<%- include('../layouts/footer') -%>
