<div class="sub-nav">
	<div class="container-md d-flex align-items-center justify-content-between">
		<div class="sub-nav--left">
			<ul>
				<li>
					<a href="#">Lotte Cinema APP</a>
				</li>
				<li>
					<a href="#">Lotte Cinema Facebook</a>
				</li>
			</ul>
		</div>
		<div class="sub-nav--right">
			<ul>
				<%if (currentUser) { %>
				<li>
					<a href="/user/profile/<%- currentUser.id %>"
						><%- currentUser.fullname %></a
					>
				</li>
				<li>
					<a href="/auth/logout">Đăng xuất</a>
				</li>
				<% } else { %>
				<li>
					<a href="/auth/login">Đăng nhập</a>
				</li>
				<% } %>
				<li>
					<a href="#">Hỗ trợ khách hàng</a>
				</li>
			</ul>
		</div>
	</div>
</div>
