    <footer class="footer">
      <div class="container">
        <div class="footer__banner">
          <a href="#">
            <img src="/images/4494ae1a8dc4465a9668df2363ee3479.jpg" alt="banner">
          </a>
        </div>
        <div class="footer__logo">
          <img src="/images/logo_footer.gif" alt="">
        </div>
        <ul class="footer__references">
          <li class="reference__item">
            <a href="#">Chính sách khách hàng thường xuyên</a>
          </li>
          <li class="reference__item">
            <a href="#">Chính sách bảo mật thông tin</a>
          </li>
          <li class="reference__item">
            <a href="#">Điều khoản sử dụng</a>
          </li>
          <li class="reference__item">
            <a href="#">Sơ đồ website</a>
          </li>
          <li class="reference__item">
            <a href="#">Tuyển dụng</a>
          </li>
          <li class="reference__item">
            <a href="#">Liên hệ quảng cáo/Mua vouncher</a>
          </li>
          <li class="reference__item">
            <a href="#">Thông tin Lotteria</a>
          </li>
        </ul>
        <div>
          <p class="footer__text">Giấy CNĐKDN: 0302575928, đăng ký lần đầu ngày 02/05/2008, đăng ký thay đổi lần thứ 10 ngày 30/03/2018, cấp bởi Sở KHĐT Thành phố Hồ Chí Minh</p>
          <p class="footer__text">Địa chỉ: Tầng 3, TTTM Lotte, số 469 đường Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, TPHCM, Việt Nam</p>
          <p class="footer__text">Hotline: (028) 3775 2524</p>
          <p class="footer__text">COPYRIGHT © LOTTECINEMAVN.COM - ALL RIGHTS RESERVED.</p>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/user/profile.js"></script>
   

    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>	

  </body>
</html>