<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<!--datatable-->
	

	<link rel="stylesheet" href="/css/index.css" />
	<title>
		<%- title %>
	</title>
	<style>
		/* -----
SVG Icons - svgicons.sparkk.fr
----- */

		.svg-icon {
			width: 1em;
			height: 1em;
		}

		.svg-icon path,
		.svg-icon polygon,
		.svg-icon rect {
			fill: #4691f6;
		}

		.svg-icon circle {
			stroke: #4691f6;
			stroke-width: 1;
		}
	</style>
</head>

<body></body>

</html>