<%- include('../layouts/header', {title: 'Mua Vé' }); -%>
<%-include('../layouts/navbar/navbar') -%>

<div class="depth">
  <ul>
    <li class="active">
      <a
        href="http://www.lottecinemavn.com/LCHS/Contents/ticketing/ticketing.aspx"
        title="MUA VÉ XEM PHIM"
        >MUA VÉ XEM PHIM</a
      >
    </li>
    <li>
      <a
        href="http://www.lottecinemavn.com/LCHS/Contents/ticketing/movie-schedule.aspx"
        title="LỊCH CHIẾU PHIM"
        >LỊCH CHIẾU PHIM</a
      >
    </li>
  </ul>
</div>

<%- include('../layouts/footer'); -%>
