<div class="container-fluid">
    <div class="header_content">

        <h1 class="title_content">Quản Lý Rạp</h1>
        <button type="button" id="btnAdd" class="btn btn-success sml-1" data-toggle="modal" data-target="#modelAdd"
            style="padding: 4px 35px;margin-left: 20px;">Thêm</button>
    </div>
    <table class="table table-striped display center_table" id="theaters" style="width: 100%;">
        <thead>
            <tr id="list-header">
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Cụm rạp</th>
                <th scope="col">Loại Rạp</th>
                <th scope="col">Kích Thước Chiều Ngang</th>
                <th scope="col">Kích Thước Chiều Dọc</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col"></th>
            </tr>
            
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="modelAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Rạp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action='/admin/' method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Tên Rạp</label>
                        <input type="text" class="form-control" id="name" name="name"
                            placeholder="Tên Cụm Rạp" required>
                    </div>
                    <div class="form-group">
                        <label for="theaters">Cụm Rạp</label>
                        <select class="form-control" id="theaters" name="theaters">
                            <% if (theaters !=undefined ) { %>
                                <% theaters.forEach(function(t) { %>
                                    <option value="<%= t.id %>">
                                        <%- t.name %>
                                    </option>
                                    <% }) %>
                                        <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Loại Rạp</label>
                        <input type="text" class="form-control" id="type" name="type"
                            placeholder="Chiều Ngang Của Rạp" required>
                    </div>
                    <div class="form-group">
                        <label for="width">Chiều ngang</label>
                        <input type="number" class="form-control" id="width" name="width"
                            placeholder="Chiều Ngang Của Rạp" required>
                    </div>
                    <div class="form-group">
                        <label for="length">Chiều Dọc</label>
                        <input type="number" class="form-control" id="length" name="length"
                            placeholder="Chiều Dọc Của Rạp" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="submit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/admin/CinemaJS.js"></script>