<%- include('../layouts/header', {title: 'Mua vé' }); -%>
    <%- include('../layouts/navbar/navbar') -%>
    <div class="ticket d-flex justify-content-center align-items-center">
            <div class="ticket__navbar d-flex justify-content-center align-items-center">
                <div class="ticket__navbar--items ticket__active">
                    <a href="">MUA VÉ XEM PHIM</a>
                </div>
                <div class="ticket__navbar--items">
                    <a href="">LỊCH CHIẾU PHIM</a>
                </div>
        </div>
    </div>
    <div class="booking" style="padding: 50px 0; background: #F9F6EC;">
        <div class="container-lg">
            <div class="row booking__inner">
                <div class="col-1 col-xl-0"></div>
                <div class="col-10 col-xl-12">
                    <div class="row booking__step" >
                        <div class="col-8 " style="border-right: 1px solid rgb(230, 230, 230);">
                            <div class="booking__left" >
                                <div class="theater__header">Rạp</div>
                                <div class="theater__body">
                                    <div class="theater__tab container">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="theater__sidebar">
                                                    <ul>
                                                        <li class="theater__sidebar--active">
                                                            <a href="">TPHCM</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Hà Nội</a>
                                                        </li>
                                                        <li>
                                                            <a href="">ĐB Sông Hồng</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Tây Nam Bộ</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Tây Bắc</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-8">
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="booking__right">
                                <div class="movie__header">Phim</div>
                                <div class="movie__body">
                                    <ul>
                                        <li class="movie__list--active">
                                            <a href="" class="d-flex align-items-center">
                                                <div class="movie__item-img"></div>
                                                <span>Bố Già</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="d-flex align-items-center">
                                                <div class="movie__item-img"></div>
                                                <span>Lật Mặt</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="d-flex align-items-center">
                                                <div class="movie__item-img"></div>
                                                <span>Thanh Gươm Diệt Quỷ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="d-flex align-items-center">
                                                <div class="movie__item-img"></div>
                                                <span>Bóng Đè</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="d-flex align-items-center">
                                                <div class="movie__item-img"></div>
                                                <span>Nhà Có Khách</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="d-flex align-items-center">
                                                <div class="movie__item-img"></div>
                                                <span>NHÂN ĐÔI TÌNH YÊU</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-1 col-xl-0">
                   
                </div>
            </div>
        </div>
    </div>
       

        <%- include('../layouts/footer'); -%>