<%- include('../layouts/header', {title: 'Mua vé' }); -%>
    <%- include('../layouts/navbar/navbar') -%>
        <div class="ticket d-flex justify-content-center align-items-center">
            <div class="ticket__navbar d-flex justify-content-center align-items-center">
                <div class="ticket__navbar--items">
                    <a href="">MUA VÉ XEM PHIM</a>
                </div>
                <div class="ticket__navbar--items">
                    <a href="">LỊCH CHIẾU PHIM</a>
                </div>
            </div>
        </div>
        <div class="bookseat__header">
            <div class="container">
                <div class="row">
                    <div class="col-1 col-lg-0"></div>
                    <div class="col-10 col-lg-12">
                        <div class="bookseat__seattop d-flex justify-content-between align-items-center">
                            <div class="bookseat__seattop--title">
                                <h2 style="margin: 0;">Chọn ghế</h2>
                            </div>
                            <div class="bookseat__seattop--btn">
                                <button>
                                    <img src="/images/icons/refresh.png" alt="">
                                    <span> Đặt lại</span>
                                </button>
                            </div>
                        </div>
                        <div class="bookseat__box d-flex align-items-center">
                            <div class="bookseat__box--lable">Người lớn</div>
                            <div class="bookseat__box--select">
                                <select>
                                    <option class="option" value="0">0</option>
                                    <option class="option" value="1">1</option>
                                    <option class="option" value="2">2</option>
                                    <option class="option" value="3">3</option>
                                    <option class="option" value="4">4</option>
                                    <option class="option" value="5">5</option>
                                    <option class="option" value="6">6</option>
                                    <option class="option" value="7">7</option>
                                    <option class="option" value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 col-lg-0"></div>
                </div>

            </div>
        </div>

        <div class="bookseat__body">
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="seat__select">
                            <div class="seat__select-screen">
                                <img src="/images/seat/screen.gif" alt="" width="100%">
                                <span>Screen</span>
                            </div>

                            <!-- Nếu chưa chọn số ghế -->
                            <!-- thì thêm id="btn-seatmodal" vào li để hiện modal message -->
                            <div class="seat__selectbox">
                                <div class="seat__selectbox-row d-flex justify-content-center align-items-center">
                                    <div class="seat__selectbox--namecolumn">A</div>
                                    <ul>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>6</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>7</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>8</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>9</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="seat__selectbox-row d-flex justify-content-center align-items-center">
                                    <div class="seat__selectbox--namecolumn">B</div>
                                    <ul>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>6</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>7</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>8</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>9</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="seat__selectbox-row d-flex justify-content-center align-items-center">
                                    <div class="seat__selectbox--namecolumn">C</div>
                                    <ul>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>6</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>7</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>8</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>9</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="seat__selectbox-row d-flex justify-content-center align-items-center">
                                    <div class="seat__selectbox--namecolumn">D</div>
                                    <ul>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>6</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>7</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>8</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>9</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="seat__selectbox-row d-flex justify-content-center align-items-center">
                                    <div class="seat__selectbox--namecolumn">E</div>
                                    <ul>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>6</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>7</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>8</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>9</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="seat__selectbox-row d-flex justify-content-center align-items-center">
                                    <div class="seat__selectbox--namecolumn">F</div>
                                    <ul>
                                        <li>
                                            <a class="seatnumber">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>6</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>7</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="seatnumber" href="">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>8</span>
                                            </a>
                                        </li>
                                        <li id="btn-seatmodal" id-modal="#seat-modal">
                                            <a class="seatnumber">
                                                <img class="seat_select" src="/images/seat/seat_mybeselected.gif" alt=""
                                                    width="22px" height="22px">
                                                <img class="seat_selected" src="/images/seat/seat_selected.gif" alt=""
                                                    width="22px" height="22px">
                                                <span>9</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- modal chọn ghế chưa chọn số lượng -->
                                <div id="seat-modal" class="seat__modal">
                                    <div class="seat__modal--boby d-flex justify-content-center">
                                        <div class="seat__modal-content">
                                            <div class="seat__modal--header d-flex justify-content-between">
                                                <p>Hướng dẫn</p>
                                                <span class="seat__modal-close">&times;</span>
                                            </div>
                                            <div class="seat__modal-content--body d-flex align-items-center">
                                                <p>Vui lòng chọn số ghế cần mua</p>
                                                <div class="seat__modal-close btn--seat-check">Kiểm tra</div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="seat__info">
                                <div class="seat__info--lable" style="padding: 25px 0;">* Nhấp lại vào chỗ ngồi đã chọn
                                    để hủy.</div>
                                <div class="seat__info-list d-flex justify-content-end">
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/bg_door.png" alt="" width="60px" height="22px">
                                        <span>Lối vào</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seat_selected.gif" alt="" width="22px">
                                        <span>Ghế đã chọn</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seat_mybeselected.gif" alt="" width="22px">
                                        <span>Ghế có thể chọn</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seat_bought.gif" alt="" width="22px">
                                        <span>Ghế đã mua</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seat_notselected.gif" alt="" width="22px">
                                        <span>Ghế không thể chọn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seat__info-bottom">
                            <div class="seat__info d-flex justify-content-end">
                                <div class="seat__info-list d-flex">
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/spot.gif" alt="" width="22px">
                                        <span>SWEET SPOT</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seatcouple.gif" alt="" width="22px">
                                        <span>Ghế couple</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seatvip.gif" alt="" width="22px">
                                        <span>Ghế VIP</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seatsuper.gif" alt="" width="22px">
                                        <span>Ghế cao cấp</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seat__noname.gif" alt="" width="22px">
                                        <span>Ghế bị vô hiệu hóa</span>
                                    </div>
                                    <div class="seat__info-items d-flex align-items-center">
                                        <img src="/images/seat/seat__noname.gif" alt="" width="22px">
                                        <span>Ghế cho khách hàng cần sự trợ giúp</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

        <div class="bookseat__step">
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 d-flex justify-content-between align-items-center" style="padding: 13px 0;">
                        <div class="bookseat__step--pre">
                            <a href="/ticket/book" class=" d-flex align-items-center">
                                <img class="imgpre" src="/images/icons/leftarrow.png" alt="" width="26px">
                                <span>Trở về</span>
                            </a>
                        </div>
                        <div class="bookseat__step--next">
                            <a href="/ticket/book" class=" d-flex align-items-center">
                                <span>Bước tiếp theo </span>
                                <img class="imgnext" src="/images/icons/rightarrow.png" alt="" width="26px">
                            </a>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

        <div class="bookseat__footer">
            <div class="container">
                <div class="row">
                    <div class="col-1" style="padding: 0;"></div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4" style="padding: 0; border-left: 1px solid #CDC197;">
                                <div class="bookseat__footer--items">
                                    <div class="bookseat__footer-title">
                                        Phim chiếu rạp
                                    </div>
                                    <div class="bookseat__footer-moive d-flex">
                                        <img src="/images/LatMat/poster_LM.jpg" alt="" width="80px">
                                        <div class="bookseat__footer-moive--name">LẬT MẶT</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" style="padding: 0; border-left: 1px solid #CDC197;">
                                <div class="bookseat__footer--items">
                                    <div class="bookseat__footer-title">
                                        Thông tin vé đã đặt
                                    </div>
                                    <div class="bookseat__footer-info">
                                        <div class="d-flex">
                                            <div class="bookseat__footer-info--lable">Ngày</div>
                                            <div class="bookseat__footer-info--value">15/05/2021 (Bảy)</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="bookseat__footer-info--lable">Giờ chiếu</div>
                                            <div class="bookseat__footer-info--value">20:30 ~ 22:43</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="bookseat__footer-info--lable">Rạp chiếu</div>
                                            <div class="bookseat__footer-info--value">Vinh</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="bookseat__footer-info--lable">Ghế ngồi</div>
                                            <div class="bookseat__footer-info--value">C5</div>
                                        </div>

                                    </div>
                                    <div class="bookseat__price--big d-flex align-items-center justify-content-end">
                                        <p>49.000</p>
                                        <span style="text-decoration: underline; margin-left: 5px;">đ</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4"
                                style="padding: 0; border-left: 1px solid #CDC197; border-right: 1px solid #CDC197;">
                                <div class="bookseat__footer--items">
                                    <div class="bookseat__footer-title">
                                        Tông tiền đơn hàng
                                    </div>
                                    <div class="bookseat__footer-info">
                                        <div class="d-flex justify-content-between">
                                            <div class="bookseat__footer-info--lable" style="width: 150px;">Đặt trước
                                                phim</div>
                                            <div class="bookseat__footer-info--value">150.000₫</div>
                                        </div>
                                    </div>
                                    <div class="bookseat__price--big d-flex align-items-center justify-content-end"
                                        style="margin-top: 70px;">
                                        <p>49.000</p>
                                        <span style="text-decoration: underline; margin-left: 5px;">đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

         <script src="/js/booking/modal.js"></script>
        <%- include('../layouts/footer'); -%>