<%- include('../layouts/header', {title: 'Mua vé' }); -%>
    <%- include('../layouts/navbar/navbar') -%>
        <div class="ticket d-flex justify-content-center align-items-center">
            <div class="ticket__navbar d-flex justify-content-center align-items-center">
                <div class="ticket__navbar--items">
                    <a href="">MUA VÉ XEM PHIM</a>
                </div>
                <div class="ticket__navbar--items">
                    <a href="">LỊCH CHIẾU PHIM</a>
                </div>
            </div>
        </div>

        <form action="/ticket/order" method="post">
        <!-- //order -->
        <div class="order">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="order__title">Đặt hàng/Thanh toán</div>
                        <div class="order__info">
                            <div class="order__movie">
                                <div class="row" style="margin-bottom: 30px;">
                                    <div class="col-2 col-md-6 col-sm-12 d-flex justify-content-center">
                                        <div class="order__movie-img" >
                                            <img id="order-movie-img" src="" alt="" width="103px">
                                        </div>
                                    </div>
                                    <div class="col-8 col-md-6 col-sm-12" >
                                        <div class="order__movie-title" id="order-movie-name">49K ĐIỆP VIÊN SIÊU LẦY(2DPhụ đề)</div>
                                        <div class="order__movie-info">
                                            <ul>
                                                <li>
                                                    Ngày chiếu <span id="order-movie-date" ></span>
                                                </li>
                                                <li>
                                                    Lịch chiếu <span id="order-movie-time" ></span>
                                                </li>
                                                <li>
                                                    Rạp chiếu <span id="order-movie-cinema"></span>
                                                </li>
                                                <li>
                                                    Ghế ngồi <span id="order-movie-seat"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div
                                        class="col-2 col-md-12 col-sm-12 d-flex align-items-center justify-content-center">
                                        <div class="order__movie-price" id="order-movie-price"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="order__total">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="order__total--lable">Tổng số tiền đặt hàng</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="order__total--price" id="order-movie-total">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- //pay -->
        <div class="pay">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="pay__inner">
                            <div class="pay__top d-flex justify-content-between">
                                <div class="pay__top-title">Giảm giá</div>
                                <div class="pay__top-reset d-flex align-items-center">
                                    <img src="/images/icons/refresh.png" alt="">
                                    <span style="margin-left: 10px;">Quay lại bước đầu</span>
                                </div>
                            </div>
                            <div class="pay__method " style="margin-top: 20px;">
                                <div class="pay__cart-option">
                                    <a href="javascript:void(0)"
                                        class="btn-showpay d-flex justify-content-between align-items-center">
                                        <div class="pay__cart-header">Thanh toán</div>
                                        <img class="img_up" src="/images/icons/up.png" alt="up" style="display: none;">
                                        <img class="img_down" src="/images/icons/down.png" alt="up"
                                            >
                                    </a>
                                </div>

                                <div class="pay__method-box">
                                    <div class="pay__cart">
                                        <div class="pay__cart-inner d-flex align-items-center">
                                            <div class="">
                                                <div class="pay__cart--items">
                                                    <input type="radio" id="visa" name="pay-cart" value="visa">
                                                    <label for="visa">Thẻ tín dụng quốc tế (Mastercard, Visa,
                                                        JCB,...)</label>
                                                </div>
                                                <div class="pay__cart--items">
                                                    <input type="radio" id="ATM" name="pay-cart" value="ATM">
                                                    <label for="ATM">ATM card(Thẻ nội địa)</label>
                                                </div>
                                                <div class="pay__cart--items">
                                                    <input type="radio" id="wallet" name="pay-cart" value="wallet">
                                                    <label for="wallet">eWallet(MoMo
                                                        Pay,AirPay,ViettelPay,ZaloPay...)</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pay__rule-inner">
                            <div class="pay__rule">
                                <div class="pay__rule-box">
                                    <div class="pay__rule--header">ĐIỀU KIỆN VÀ ĐIỀU KHOẢN KHI ĐẶT VÉ</div>
                                    <div class="pay__rule--content">
                                        <p>
                                            Xin vui lòng đọc các điều khoản sau cẩn thận trước khi sử dụng dịch vụ thanh
                                            toán trực
                                            tuyến. Với việc truy cập vào phần này của website, bạn đã đồng ý với các
                                            điều
                                            khoản sử
                                            dụng của chúng tôi. Các điều khoản này có thể thay đổi theo thời gian và bạn
                                            sẽ
                                            phải
                                            tuân theo các điều khoản được hiển thị từ thời điểm bạn đọc được các điều
                                            khoản
                                            này.
                                            Lotte Cinema luôn luôn mong muốn đem đến những giây phút giải trí tuyệt vời
                                            cho
                                            khách
                                            hàng với chất lượng dịch vụ tốt nhất. Dưới đây sẽ là một số hướng dẫn cho
                                            chính
                                            sách
                                            thanh toán vé trực tuyến.
                                        </p>
                                        <ul>
                                            <li>
                                                <p>1. Đối tượng áp dụng</p>
                                                <p>
                                                    Chương trình thanh toán online chỉ áp dụng cho các suất chiếu quy
                                                    định
                                                    tại Lotte Cinema.
                                                    Mỗi giao dịch đặt vé có thể thanh toán trực tuyến tối đa 8 vé cho
                                                    một
                                                    lần. Nếu bạn có
                                                    nhu cầu mua vé với số lượng lớn hơn, vui lòng liên hệ với bộ phận
                                                    Quan
                                                    Hệ Khách Hàng của
                                                    chúng tôi qua số điện thoại +84.28.3775.2521 - ext 161.</p>

                                                <p>
                                                    2. Chính sách Hoàn Vé hay Đổi Vé
                                                </p>
                                                <p>
                                                    Trên website, giá vé được quy định là giá vé dành cho người lớn, trừ
                                                    trường hợp có thông
                                                    báo khác.
                                                </p>
                                                <p>
                                                    Lotte Cinema không chấp nhận hoàn tiền hoặc đổi vé đã thanh toán
                                                    thành
                                                    công trên website
                                                    của Lotte Cinema.
                                                </p>

                                                <p>

                                                    Lotte Cinema chỉ thực hiện hoàn tiền trong trường hợp khi giao dịch,
                                                    tài
                                                    khoản của bạn
                                                    đã bị trừ tiền nhưng hệ thống của chúng tôi không ghi nhận việc đặt
                                                    vé
                                                    của bạn, và bạn
                                                    không nhận được xác nhận đặt vé thành công. Khi đó, bạn vui lòng
                                                    liên hệ
                                                    với rạp Lotte
                                                    Cinema mà bạn vừa chọn để mua vé bằng cách bấm vào đây hoặc bạn có
                                                    thể
                                                    liên hệ với chúng
                                                    tôi qua địa chỉ email cs@lotte.vn</p>
                                            </li>
                                            <li>
                                                <p>
                                                    11. Chính sách bảo mật thông tin
                                                </p>
                                                <p>• Mục đích và phạm vi thu thập thông tin:</p>
                                                <p>Thông tin cá nhân của Quý khách mà chúng tôi có được trong quá trình
                                                    giao
                                                    dịch chỉ dùng vào các mục đích sau:</p>
                                                <p>- Hỗ trợ và giải đáp các thắc mắc của Quý khách;</p>
                                                <p>- Cập nhật các thông tin mới nhất về các chương trình, dịch vụ ...
                                                    của
                                                    Lotte Cinema đến Quý khách;</p>
                                                <p> • Thông tin thu thập bao gồm: tên, số điện thoại, email.</p>
                                                <p>
                                                    • Phạm vi sử dụng thông tin:
                                                <ul>
                                                    <li>
                                                        <p> Chúng tôi thu thập và sử dụng thông tin cá nhân của Quý
                                                            khách
                                                            phù hợp
                                                            với mục đích đã nêu bên trên và hoàn toàn tuân thủ nội dung
                                                            của
                                                            “Chính sách bảo mật”
                                                            này. Tuy nhiên, Quý khách có quyền yêu cầu chúng tôi ngừng
                                                            sử
                                                            dụng thông tin cá nhân của Quý
                                                            khách bất kỳ lúc nào.</p>
                                                    </li>
                                                </ul>
                                                </p>
                                                <p>• Thời gian lưu trữ thông tin:</p>
                                                <p>Thông tin của Quý khách sẽ được lưu trữ đến khi Quý khách có yêu cầu
                                                    Chúng tôi ngừng sử dụng các thông tin này.</p>
                                                <p> • Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân:
                                                    Công Ty TNHH Lotte Cinema Việt Nam.</p>
                                                <p>Địa chỉ: Tầng 3 TTTM Lotte Số 469 Đường Nguyễn Hữu Thọ, P Tân Hưng
                                                    Quận
                                                    7, TPHCM, Việt Nam.</p>
                                                <p>• Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu
                                                    cá
                                                    nhân của mình: Website.</p>
                                                <p> • Cam kết bảo mật thông tin cá nhân khách hàng:
                                                    Chúng tôi cam kết chỉ sử dụng cho mục đích và phạm vi đã nêu và
                                                    không
                                                    tiết lộ cho bất kỳ bên thứ ba nào khi chưa có sự đồng ý bằng văn bản
                                                    của
                                                    Quý khách.</p>
                                                <p>
                                                    * Xin lưu ý chúng tôi được quyền cung cấp thông tin cá nhân của Quý
                                                    khách trong
                                                    trường
                                                    hợp khi có yêu cầu từ các cơ quan Nhà nước có thẩm quyền.</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="pay__rule--header">LIÊN HỆ</div>
                                    <div class="pay__rule--content">
                                        <p>
                                            Quý khách cần hỗ trợ hoặc tư vấn về dịch vụ và các vấn đề có liên quan, mong
                                            quý
                                            khách
                                            liên hệ trực tiếp với chúng tôi để nhận được sự trợ giúp nhanh chóng nhất
                                            qua
                                            địa chỉ:
                                            cs@lotte.vn
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="pay__rule--check">
                                <input type="checkbox" id="cb_rule" name="cb_rule" value="check">
                                <label for="cb_rule">
                                    Cam kết mua vé phim này cho người xem ở độ tuổi quy định và tôi đã đọc và đồng ý với
                                    Điều kiện và Điều khoản
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div style="width: 100%; text-align: right;" class="col-12">
                        <button class="confirmOrder__price--btn" type="submit" onclick="removSession()" >
                            Thanh toán
                        </button>
                    </div>
            
                </div>
            </div>
        </div>

        <input type="text" class="d-none" id="ordershowtimeId" name="ordershowtimeId" value="" hidden>
        <input type="text" class="d-none" id="ordernumberSeat" name="ordernumberSeat" value="" hidden>

    </form>
        <div class="bookseat__step">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between align-items-center" style="padding: 13px 0;">
                        <div class="bookseat__step--pre" >
                            <a href="/ticket/bookseat" class=" d-flex align-items-center">
                                <img class="imgpre" src="/images/icons/leftarrow.png" alt="" width="26px">
                                <span>Trở về</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="confirmOrder">
            <div class="container">
                <div class="row">
                    <div class="col-1" style="padding: 0;"></div>
                    <div class="col-10" style="padding: 0;">
                        <div class="row">
                            <div class="col-4" style="padding: 0; border: 1px solid;
    border-color: transparent #CDC197 transparent #CDC197">
                                <div class="confirmOrder__money confirmOrder__items">
                                    <div class="confirmOrder-title">Thành tiền</div>
                                    <div class="confirmOrder-content">
                                        <div class="confirmOrder-element d-flex justify-content-between">
                                            <div class="confirmOrder--label">Đặt trước phim</div>
                                            <div class="confirmOrder--label">98.000đ</div>
                                        </div>

                                        <div class="confirmOrder__price--medium">98.000đ</div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-4" style="padding: 0; border: 1px solid;
    border-color: transparent #CDC197 transparent #CDC197">
                                <div class="confirmOrder__reduce confirmOrder__items">
                                    <div class="confirmOrder-title">Số tiền được giảm</div>
                                    <div class="confirmOrder__price--medium" style=" padding-top: 163px;">0đ</div>
                                </div>
                            </div>
                            <div class="col-4" style="padding: 0; border: 1px solid;
    border-color: transparent #CDC197 transparent #CDC197">
                                <div class="confirmOrder-price confirmOrder__items">
                                    <div class="confirmOrder-title">Tổng tiền đơn hàng</div>
                                    <div class="confirmOrder__price--big">98.000đ</div>
                                    <button class="confirmOrder__price--btn">
                                        Thanh toán
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1" style="padding: 0;"></div>
                </div>
            </div>
        </div>

        -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="module" src="/js/booking/pay.js"></script>
        <script src="/js/booking/chooseseat.js"></script>
        <script>
            const btn_showPay = document.querySelector('.btn-showpay');
            const pay_box = document.querySelector('.pay__method-box');
            const img_up = document.querySelector('.img_up');
            const img_down = document.querySelector('.img_down');

            btn_showPay.addEventListener('click', e => {
                if (pay_box.style.display == 'block') {
                    pay_box.style.display = 'none';
                    img_up.style.display = 'block';
                    img_down.style.display = 'none';
                }
                else {
                    pay_box.style.display = 'block';
                    img_up.style.display = 'none';
                    img_down.style.display = 'block';

                }
            })

        </script>
        <%- include('../layouts/footer'); -%>
       