<%- include('../layouts/header', {title: 'Mua vé' }); -%>
    <%- include('../layouts/navbar/navbar') -%>
        <div class="ticket d-flex justify-content-center align-items-center">
            <div class="ticket__navbar d-flex justify-content-center align-items-center">
                <div class="ticket__navbar--items">
                    <a href="">MUA VÉ XEM PHIM</a>
                </div>
                <div class="ticket__navbar--items">
                    <a href="">LỊCH CHIẾU PHIM</a>
                </div>
            </div>
        </div>

        <!-- //order -->
        <div class="order">
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="order__title">Đặt hàng/Thanh toán</div>
                        <div class="order__info">
                            <div class="order__movie">
                                <div class="row" style="margin-bottom: 30px;">
                                    <div class="col-2 col-md-6 col-sm-12 d-flex justify-content-end">
                                        <div class="order__movie-img">
                                            <img src="/images/LatMat/poster_LM.jpg" alt="" width="103px">
                                        </div>
                                    </div>
                                    <div class="col-8 col-md-6 col-sm-12">
                                        <div class="order__movie-title">49K ĐIỆP VIÊN SIÊU LẦY(2DPhụ đề)</div>
                                        <div class="order__movie-info">
                                            <ul>
                                                <li>
                                                    Ngày chiếu <span> 16/05/2021(Chủ nhật)</span>
                                                </li>
                                                <li>
                                                    Lịch chiếu <span>phim 15:30 ~ 17:31</span>
                                                </li>
                                                <li>
                                                    Rạp chiếu <span> Vinh</span>
                                                </li>
                                                <li>
                                                    Phòng chiếu <span> Screen04</span>
                                                </li>
                                                <li>
                                                    Số lượt truy cập <span> Người lớn - 1</span>
                                                </li>
                                                <li>
                                                    Ghế ngồi<span> A8</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-2 col-md-12 col-sm-12 d-flex align-items-center justify-content-center">
                                        <div class="order__movie-price">49.000₫</div>
                                    </div>
                                </div>
                            </div>
                            <div class="order__total">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="order__total--lable">Tổng số tiền đặt hàng</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="order__total--price">
                                            49.000₫
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

        <!-- //pay -->
        <div class="pay">
            
                <div class="container">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="pay__inner">
                                <div class="pay__top">
                                    <div class="pay__top-title">Giảm giá</div>
                                    <div class="pay__top-reset">
                                        <img src="" alt="">
                                        <span>Quay lại bước đầu</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer'); -%>