<%- include('../layouts/header', {title: 'Phim' }); -%>
    <%- include('../layouts/navbar/navbar') -%>

        <!-- PROFILE USER -->
        <div class="profileinfo">
            <div class="container d-flex align-items-center" style="flex-direction: column;">
                <div class="profileinfo__title">
                    <h1>THÔNG TIN TÀI KHOẢN</h1>
                </div>
                <div class="profileinfo__content">
                    <ul>
                        <li>
                            <div class="profileinfo__content-title">Họ tên: </div>
                            <div class="profileinfo__content-value">Nguyễn Hiếu Nghĩa</div>
                        </li>
                        <li>
                            <div class="profileinfo__content-title">Email: </div>
                            <div class="profileinfo__content-value">Nghiadx2001@gmail.com</div>
                        </li>
                        <li>
                            <div class="profileinfo__content-title">Số điện thoại: </div>
                            <div class="profileinfo__content-value">0947094472</div>
                        </li>
                        <li>
                            <div class="profileinfo__content-title">Mật khẩu: </div>
                            <div class="profileinfo__content-value">************</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


<%- include('../layouts/footer'); -%>