<%- include('../layouts/header', {title: 'Phim' }); -%>
    <%- include('../layouts/navbar/navbar') -%>

        <!-- PROFILE USER -->
        <div class="profileinfo">
            <div class="container">
                <!-- <div class="profileinfo__title">
                    <h1>THÔNG TIN TÀI KHOẢN</h1>
                </div> -->
                <div class="row">
                    <div class="col-2 col-lg-0"></div>
                    <div class="col-8 col-lg-12">
                        <div class="profileinfo-box">
                            <div class="profileinfo-box__img d-flex justify-content-center">
                                <img src="/images/icons/user.png" alt="">
                            </div>
                            <div class="profileinfo-box__username d-flex justify-content-center">Nguyễn Hiếu Nghĩa</div>
                            <div class="profileinfo-box__info">
                                <div class="row">
                                    <div class="col">
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/email.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Email</span>
                                                <p>Nghiadx2001@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/call.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Số điện thoại</span>
                                                <p>Nghiadx2001@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/gender.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Giới tính</span>
                                                <p>Nghiadx2001@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="profileinfo-box__info--items d-flex align-items-center">
                                            <div class="boxinfo__items--icon">
                                                <img src="/images/icons/password.png" alt="">
                                            </div>
                                            <div class="boxinfo__items--content">
                                                <span>Mật khẩu</span>
                                                <p>***********</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="col-2 col-lg-0"></div>
                   
                </div>
            </div>
        </div>


        <%- include('../layouts/footer'); -%>