<%- include('../layouts/header', {title: 'Phim' }); -%>
	<div class="container-fluid" style="background: black">
		<div class="container test" style="background: black">
			<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
				class="swiper-container mySwiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="https://znews-photo.zadn.vn/w860/Uploaded/izhqv/2021_04_24/DSC01720.jpg" />
					</div>
					<div class="swiper-slide">
						<img
							src="https://image.thanhnien.vn/2048/uploaded/duyentn/2021_04_16/screenshot-5_iobz.png.webp" />
					</div>
					<div class="swiper-slide">
						<img src="https://image.thanhnien.vn/2048/uploaded/duyentn/2021_04_16/dd_fsmh.png.webp" />
					</div>
					<div class="swiper-slide">
						<img
							src="https://camnanggame.com/media/2021/04/review-phim-lat-mat-48h-cua-ly-hai-phim-viet-nam-chat-luong-hollywood-10.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-5.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-6.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-7.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-8.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-9.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-10.jpg" />
					</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<div thumbsSlider="" class="swiper-container mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="https://znews-photo.zadn.vn/w860/Uploaded/izhqv/2021_04_24/DSC01720.jpg" />
					</div>
					<div class="swiper-slide">
						<img
							src="https://image.thanhnien.vn/2048/uploaded/duyentn/2021_04_16/screenshot-5_iobz.png.webp" />
					</div>
					<div class="swiper-slide">
						<img src="https://image.thanhnien.vn/2048/uploaded/duyentn/2021_04_16/dd_fsmh.png.webp" />
					</div>
					<div class="swiper-slide">
						<img
							src="https://camnanggame.com/media/2021/04/review-phim-lat-mat-48h-cua-ly-hai-phim-viet-nam-chat-luong-hollywood-10.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-5.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-6.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-7.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-8.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-9.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="https://swiperjs.com/demos/images/nature-10.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid wide detailFlim" style="margin: 20px auto">
		<div class="row">
			<div class="col l-5 c-12" style="margin: 0; padding: 0">
				<div class="detailFlim__left">
					<div class="detailFlim__avatar d-flex justify-content-center">
						<img src="/images/LatMat/poster_LM.jpg" alt="Lật mặt 48h" class="detailFlim__avatar-img" />
					</div>
					<!-- <div class="detailFlim">
                        <a href="#" type="button" class="btn btn-outline-secondary">Secondary</a>
                    </div> -->
				</div>
			</div>
			<div class="col l-7 c-12" style="margin: 0; padding: 0">
				<div class="detailFlim__right" style="padding-top: 30px">
					<h3 class="filmName">LẬT MẶT 48H</h3>
					<p><strong>Khởi chiếu: </strong>Từ 16/04/2021</p>
					<p><strong>Xếp hạng: </strong>[Trong nước] 18 tuổi trở lên</p>
					<p>
						<strong>Thông tin cơ bản: </strong>Action/Adventure/SF Vietnam
						(110Phút)
					</p>
					<p><strong>Loại: </strong>2D | Normal | Normal sound | Lồng tiếng</p>
					<p>
						<strong>Tóm tắt: </strong>Chuyện phim kể về Hiền (Võ Thành Tâm) - một
						cựu vận động viên võ thuật sau khi giải nghệ vì chấn thương đã cùng vợ
						(Ốc Thanh Vân) và con gái về quê thăm gia đình Lâm (Mạc Văn Khoa). Họ
						bị cuốn vào một cuộc rượt đuổi với tay phản diện A Dìn (Huỳnh Đông).
						Để bảo vệ cho gia đình nhỏ, Hiền phải đưa vợ con chạy trốn khắp miền
						Tây sông nước với sự trợ giúp của người bạn thật thà và hài hước.
					</p>
					<div class="review flex align-items-center">
						<strong style="margin-right: 15px">Đánh giá: </strong>
						<div class="review__img ">
							<img class="review__img-items" src="/images/icons/star_color.png" alt="" />
							<img class="review__img-items" src="/images/icons/star_color.png" alt="" />
							<img class="review__img-items" src="/images/icons/star_color.png" alt="" />
							<img class="review__img-items" src="/images/icons/star_color.png" alt="" />
							<img class="review__img-items" src="/images/icons/star_nocolor.png" alt="" />
						</div>
					</div>

					<div class="flex justify-content-center" style="margin: 30px 0">
						<button class="btn btn__order d-flex align-items-center">
							<svg class="svg-icon svg__order" viewBox="0 0 20 20">
								<path fill="none" class="svg__order-path"
									d="M4.423,9.141H3.565c-0.237,0-0.429,0.192-0.429,0.429s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.192,0.429-0.429S4.66,9.141,4.423,9.141 M6.997,16.861H6.139c-0.237,0-0.429,0.192-0.429,0.43s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.191,0.429-0.429S7.234,16.861,6.997,16.861 M4.423,16.861H3.565c-0.237,0-0.429,0.192-0.429,0.43s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.191,0.429-0.429S4.66,16.861,4.423,16.861M13.861,9.998h0.857c0.236,0,0.429-0.192,0.429-0.429s-0.192-0.429-0.429-0.429h-0.857c-0.237,0-0.43,0.192-0.43,0.429S13.624,9.998,13.861,9.998 M14.719,16.861h-0.857c-0.237,0-0.43,0.192-0.43,0.43s0.192,0.429,0.43,0.429h0.857c0.236,0,0.429-0.191,0.429-0.429S14.955,16.861,14.719,16.861 M15.576,13.001c-0.236,0-0.429,0.192-0.429,0.43c0,0.236,0.192,0.429,0.429,0.429c0.237,0,0.43-0.192,0.43-0.429C16.006,13.193,15.813,13.001,15.576,13.001 M6.997,9.141H6.139c-0.237,0-0.429,0.192-0.429,0.429s0.192,0.429,0.429,0.429h0.858c0.237,0,0.429-0.192,0.429-0.429S7.234,9.141,6.997,9.141M12.145,9.141h-0.857c-0.236,0-0.429,0.192-0.429,0.429s0.193,0.429,0.429,0.429h0.857c0.237,0,0.43-0.192,0.43-0.429S12.382,9.141,12.145,9.141 M17.722,10.856V7.424c0-0.948-0.769-1.716-1.716-1.716h-0.617l-1.038-3.873c-0.245-0.916-1.186-1.458-2.101-1.213L3.592,2.912C2.676,3.157,2.133,4.098,2.378,5.014l0.186,0.695H2.278c-0.947,0-1.716,0.768-1.716,1.716V17.72c0,0.947,0.769,1.716,1.716,1.716h13.728c0.947,0,1.716-0.769,1.716-1.716v-1.716c0.947,0,1.716-0.769,1.716-1.716v-1.716C19.438,11.624,18.669,10.856,17.722,10.856 M16.006,6.566c0.473,0,0.857,0.384,0.857,0.858v0.238c-0.253-0.146-0.544-0.238-0.857-0.238h-0.157l-0.229-0.858H16.006z M14.41,5.372l0.55,2.053H6.67L14.41,5.372z M3.814,3.741l8.657-2.29c0.458-0.123,0.928,0.149,1.051,0.607l0.222,0.828L3.43,5.621l-0.223-0.83C3.084,4.333,3.356,3.863,3.814,3.741M1.42,7.424c0-0.474,0.384-0.858,0.858-0.858h0.517l0.229,0.858H2.278c-0.314,0-0.605,0.091-0.858,0.238V7.424z M16.863,17.72c0,0.474-0.385,0.858-0.857,0.858H2.278c-0.474,0-0.858-0.385-0.858-0.858V9.141c0-0.474,0.384-0.858,0.858-0.858h13.728c0.473,0,0.857,0.384,0.857,0.858v1.715h-1.716c-0.947,0-1.716,0.768-1.716,1.716v1.716c0,0.947,0.769,1.716,1.716,1.716h1.716V17.72z M18.58,14.288c0,0.474-0.385,0.857-0.858,0.857h-2.574c-0.474,0-0.857-0.384-0.857-0.857v-1.716c0-0.474,0.384-0.858,0.857-0.858h2.574c0.474,0,0.858,0.385,0.858,0.858V14.288z M9.571,16.861H8.713c-0.237,0-0.429,0.192-0.429,0.43s0.192,0.429,0.429,0.429h0.858c0.236,0,0.429-0.191,0.429-0.429S9.808,16.861,9.571,16.861M12.145,16.861h-0.857c-0.236,0-0.429,0.192-0.429,0.43s0.193,0.429,0.429,0.429h0.857c0.237,0,0.43-0.191,0.43-0.429S12.382,16.861,12.145,16.861 M9.571,9.141H8.713c-0.237,0-0.429,0.192-0.429,0.429s0.192,0.429,0.429,0.429h0.858C9.808,9.998,10,9.806,10,9.569S9.808,9.141,9.571,9.141">
								</path>
							</svg>
							<span>Đặt vé</span>
						</button>
					</div>

					<div class="detailFlim__share flex flex-column">
						<span>Share</span>
						<div class="share__icon">
							<img src="/images/icons/facebook.png" alt="" />
							<img src="/images/icons/google-plus.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Initialize Swiper -->
	<script>
		var swiper = new Swiper('.mySwiper', {
			spaceBetween: 10,
			slidesPerView: 4,
			freeMode: true,
			watchSlidesVisibility: true,
			watchSlidesProgress: true,
		});
		var swiper2 = new Swiper('.mySwiper2', {
			spaceBetween: 10,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			thumbs: {
				swiper: swiper,
			},
		});
	</script>
	<%- include('../layouts/footer'); -%>