.login__form {
	& > .text-top {
		font-size: 14px;
	}

	& > .row {
		padding-top: 30px;
	}

	&--right {
		text-align: left;
	}

	&--bottom {
		padding-top: 20px;
	}
}
.login__form--left {
	.form-group {
		@include input-group();
	}
}

.login__form__submit {
	width: 98px;
	height: 90px;
	background: #231f20 url('/images/icons/icon_login.png') no-repeat 50% 19px;
	color: #e5e1b0;
	padding-top: 38px;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

.login__form__options {
	display: flex;
	align-items: center;
	justify-content: center;

	& > li {
		padding-left: 30px;
		padding-right: 30px;

		& > .form-group {
			& > label {
				margin-left: 8px;
			}
		}

		& > .form-group {
			& > a {
				position: relative;
				display: inline-block;
				background: url('/images/icons/ico_page_blank.gif') no-repeat right
					center;
				color: #231f20;
				padding-right: 20px;
				font-size: 14px;
				vertical-align: middle;
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
	}

	& > li:nth-child(2) > .form-group {
		& > a:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: -30px;
			transform: translateY(-50%);
			width: 1px;
			height: 14px;
			background-color: #dedede;
		}
	}
}
