@mixin columns($name: col, $gap: 12px, $column: 12) {
	$object: (
		'': 100%,
		'-xxl': 1400px,
		'-xl': 1200px,
		'-lg': 992px,
		'-md': 768px,
		'-sm': 576px,
	);

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -$gap;
		margin-right: -$gap;
	}

	.col {
		flex: 1 0 0%;
		width: 100%;
		padding-left: $gap;
		padding-right: $gap;
	}

	@for $i from 1 through $column {
		.#{$name}-#{$i} {
			flex: 0 0 auto;
			width: $i/12 * 100%;
			padding-left: $gap;
			padding-right: $gap;
		}
	}

	@each $prop, $value in $object {
		@for $j from 1 through $column {
			@media (max-width: $value) {
				.#{$name}#{$prop}-#{$j} {
					flex: 0 0 auto;
					width: $j/12 * 100%;
				}
			}
		}
	}
}
