.order {
  background: #f9f6ec;
  padding: 50px 0;
  &__title {
    color: #222;
    padding-bottom: 30px;
    font-size: 28px;
    border-bottom: 2px solid;
    font-weight: bold;
  }
  &__info {
    background: #fff;
  }
  &__movie {
    padding: 25px 25px 0;

    &-title {
      font-size: 18px;
      color: #222;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &-info {
      ul {
        list-style-type: none;
        li {
          display: inline;
          font-size: 15px;
          padding: 0 8px;
          border-right: 1px solid #555;
          line-height: 25px;

          span {
            color: #222;
          }
        }
      }
    }
    &-price {
      margin-right: 3px;
      font-size: 24px;
      font-family: "linlivertine";
      font-weight: bold;
    }
  }
  &__total{
    color: #222;
      background: #DAD2B4;
      padding: 28px 60px;
      &--lable{
          font-size: 18px;
      }
      &--price{
        font-size: 28px;
        font-family: "linlivertine";
        font-weight: bold;
      }
  }
}

.pay{
  &__inner{
      padding: 30px 0;

  }
  &__top{
    padding-bottom: 10px;
    &-title{
      font-size: 27px;
      font-weight: bold;
    }
    &-reset{
      border: 1px solid #555;
      padding: 10px 20px;
      color: #222;
      font-size: 14px;
    }
  }
  &__cart{

    &-option{
      background: #282E34;
      padding: 20px 30px;
    }
    &-header{
      color: #CDC197;
      font-size: 23px;
      font-weight: bold;
    }
    &-inner{
      background: #f9f6ec;
      padding: 35px 0;
      border-top: 2px solid #222;
      flex-direction: column;
        font-size: 15px;
        font-weight: bold;  
      &--items{
        margin: 5px 0;
      }
    }
  }
  &__method-box{
    border: 1px solid #555;
    padding: 30px 30px 50px;
  }
}
