<div class="header-formdate">
  <form method="POST" action="/admin/thong-ke">
      <div class="form-group">
        <label for="startdate">Từ</label>
        <input type="date" class="form-control" id="startdate" name="starttime" required>
      </div>
      <div class="form-group">
        <label for="enddate">Đến</label>
        <input type="date" class="form-control" id="enddate" name="endtime" required>
      </div>
      <button type="button" onclick="submitMovie()"  class="btn btn-primary">Xem</button>
    </form>
</div>
<div id="chartContainer" style="height: 450px; width: 100%; margin-top: 15px;"></div>
<script type="text/javascript" src="/js/admin/statisticsMovie.js"></script>
